body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#navUnorderdList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* Testing */
  background-color: red;
}

#navLinks {
  text-decoration: none;
}

#name {


/* Testing */
  background-color: rgb(25, 0, 255);
}

#header {

/* Testing */
  background-color: rgb(157, 255, 0);
}



#headingContainer {
  display: flex;
  justify-content: space-around;
/* Testing */
  background-color: aquamarine;
}


