* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* START === NAVIGATION AND HEADER STYLING */
/* Heading Container / Unorder Nav List / Indvidual Nav Links */

#headingContainer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

#navUnorderdList {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navLinks {
  text-decoration: none;
  color: inherit;
  padding: 100px; 
}

/*  END === NAVIGATION AND HEADER STYLING */

