/* Resume page Styling */

img {
    height:80vh;
  }

  #resume-page {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
  }

  #test1 {
    height: 500px;
    background-color: blueviolet;
  }

  #test2 {
    height: 500px;
    /* background-color: black; */
    padding: 0px;
  }