/* Carousel styling */
#slider-container {
    padding: 0px;
}
#slider {
    height: 500px;
    position: relative;
  }

#slider-title {
    position: absolute;
    z-index: 1;
  }

  #slide-1
  {
    height: 500px;
  
  }

  #slide-2
  {
    height: 500px;
  
  }

  #slide-3
  {
    height: 500px;
  
  }